.productList {
    &__item {
        h2 {
            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }
        }
    }

    &__item__photo {
        background-size: cover;
        background-position: center;

        &:hover {
            @include hover-shadow;
        }
    }

    .page-link {
        border: 0;
        color: $black;

        &:hover {
            background-color: transparent;
        }
    }

    .page-item.active .page-link {
        background-color: transparent;
        color: #AC8A46;
        border-bottom: 1px solid $primary;
    }
}


@include media-breakpoint-up(md) {
    .description {
        position: absolute;
        right: 0;
    }
}