@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

body {
  font-family: "Roboto", "Noto Sans TC", "微軟正黑體";
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 500;
}

/*header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png) center center no-repeat;
  background-size: cover;
  color: #fff;
}

.header .container {
  padding: 356px 0 268px 0;
}

.header__title {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
  margin-bottom: 32px;
}

.header__title span {
  display: block;
  text-align: left;
  font-size: 24px;
  line-height: 42px;
  font-weight: 700;
}

.header p {
  font-weight: 900;
  line-height: 36px;
  text-align: left;
  margin-bottom: 48px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  color: #fff;
}

.footer .container {
  padding: 64px 0 80px 0;
}

.footer ul {
  margin-top: 16px;
}

.footer ul a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.container,
.container.primary {
  padding: 64px 0 64px 0;
}

li {
  font-size: 24px;
}

/*about*/
.about img {
  margin: 40px 0 24px 0;
}

.about li {
  font-weight: 700;
}

.about__info {
  display: inline-block;
  line-height: 1.75;
  border-bottom: 1px solid #000;
  padding-bottom: 24px;
}

.about__exp {
  line-height: 3;
}

.about__exp span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 0 20px -2px 0;
  background-color: #891818;
}

/*brand*/
.brand {
  background-color: #000;
  color: #fff;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.brand h2 {
  margin-bottom: 16px;
}

.brand h3 {
  font-size: 24px;
  margin-bottom: 32px;
}

.brand h3,
.brand li {
  font-weight: 500;
}

.brand__intro {
  margin-bottom: 68px;
}

.brand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand__list li {
  margin-bottom: 40px;
}

.brand__list:nth-child(2) {
  margin-right: 24px;
}

/*otherworks*/
.otherworks h2 {
  margin-bottom: 24px;
}

.otherworks__intro {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 56px;
}

.otherworks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.otherworks__list li {
  margin-bottom: 100px;
}

.otherworks__list li img {
  margin-bottom: 16px;
}

.otherworks__list li h3 {
  font-size: 20px;
  line-height: 42px;
}
/*# sourceMappingURL=all.css.map */