header, footer{
    background-color: $red;
    color: $white;
    a{
        color: $white;
    }
}

header {
    justify-content: space-between;
    padding: 30px 88px;
    .logo img {
        width: 80px;
    }
    .nav {
        align-items: center;
        font-size: $fz-large;
        padding-left: 0;
        margin: 0;
        list-style: none;
        a {
            margin-left: 64px;
            
        }
    }
    @include pad{
        padding: 30px 40px;
        .nav a{
            margin-left: 40px;
        }
    }
    @include phone{
        flex-direction: column;
        padding: 0;
        text-align: center;
        .logo img {
            margin: 10px auto;
            width: 48px;
        }
        .nav{
            flex-wrap: wrap;
            li{
                width: 50%;                
                border: 1px solid $white;
            }
            a{
                margin-left: 0;
                width: 100%;
                line-height: 44px;
            }
        }
    }
}

footer{
    padding: 36px 0;
    .nav {
        list-style: none;
        line-height: 48px;
        padding-left: 0;
        margin: 0;
        a {
            margin-left: 0;
            margin-right: 48px;
        }
        @include pad{
            line-height: 24px;
            a{
                margin-right: 40px;
            }
        }
        @include phone{
            display: none;
        }
    }
    @include phone{
        padding: 24px 0;
    }
}
.contact, .policy{
    margin: 20px 0;
}
.social {
    justify-content: space-between;
    .socialIcon img{
        display: inline-block;
        margin-left: 30px;
        width: 48px;
        @include pad{
            width: 24px;
            margin-left: 22px;
        }
    }
    .socialIcon a:nth-child(1) img{
        margin-left: 0;
    }
}
.contact{
    align-items: center; 
    img{
        width: 44px;
        margin-right: 12px;
    }
    span{
        font-size: 2.25rem;
        line-height: 1.34;
        font-weight: 300;
    }
    @include pad{
        img{
            width: 30px;
        }
        span{
            font-size: $fz-large;
        }
    }
    @include phone{
        margin-top: 0;
        margin-bottom: 8px;
        img{
            width: 20px;
        }
        span{
            font-size: $fz-base;
        }
    }
}
.policy{
    align-items: center;
    .logo{
        margin-right: 40px;
    }
    .copyright{
        flex-grow: 1;
        a{
            margin-left: 60px;
            font-size: $fz-small;
        }
    }
    @include pad{
        .logo{
            display: none;
        }
        .copyright a{
            margin-left: 24px;
        }
    }
    @include phone{
        margin-bottom: 0;
        font-size: $fz-small;
        flex-wrap: wrap;
        align-items: flex-end;
        .logo{
            display: block;
            width: 46px;
            margin-right: 0;
            order: 3;
        }
        .copyright{
            flex-direction: column;            
            a{
                margin-left: 0;
                margin-top: 8px;
                display: block;
            }
        }

    }
}