$red: #AA0601;
$dark-red: #650300;
$light-red:  rgba(170, 6, 1, 0.05);
$white: #FFF;
$black: #000;

$fz-base: 16px;
$fz-small: $fz-base * 0.875;
$fz-large: $fz-base * 1.25;

$fz-h1: $fz-base * 4;
$fz-h2: $fz-base * 3;
$fz-h3: $fz-base * 2;
$fz-h4: $fz-base * 1.5;